<style>
	

p.title {position: fixed}	
p {    color: white;

top: 0;
left: 30%;
top: 7%;
font-size: 3.3em;
font-family: sans-serif;
width: 60%;}

p.body {
text-align: center;
width: 80%;
margin-left: 10%;
font-size: 2em;
font-family: verdana;
}

.blink {border-left: 1px;
animation: blinker2 2.7s linear infinite;
}
span.sans {font-family: serif;}
@keyframes blinker2 {  
50% { opacity: 0.0; color: red; }
}

.body a {
color: #EA9C0C;
}
</style>
<p class="title"> ::ACTIVE<span class="blink"> /</span> AGENCY </p>



<!-- <ul class="visited-list">
<li><a href="http://rhamses.xyz">rhamses.xyz</a></li>
<li><a href="http://respolyn.xyz">respolyn.xyz</a></li>
<li><a href="http://respolyn.com">respolyn.com</a></li>
<li><a href="http://polytec.xyz">polytec.xyz</a></li>
<li><a href="http://svg.codes">svg.codes</a></li>
</ul> -->
<br><br>
<p class="body">Look for us in 2017 <br>
Visit our nonprofit digital production arm to see our services:  <a href="http://pollen.agency">pollen.agency</a> </p>