
<style>

	p {    color: white;
    position: fixed;
    top: 0;
    left: 30%;
    top: 7%;
    font-size: 3.3em;
    font-family: sans-serif;
    width: 60%;}


	

    	.blink {border-left: 1px;
  animation: blinker2 2.7s linear infinite;
}
span.sans {font-family: serif;}
@keyframes blinker2 {  
  50% { opacity: 0.0; color: red; }
}


</style>

<p><&amp; <span class="blink">/</span> States otherwise</p>

<br>
<p class="mail-to"> <a href="mailto:info@pollen.agency" target="_top"><br><br>info@pollen.agency</a></p>