  <footer>

  <style>
  	@media screen and (max-width: 820px) {
.tilde {
	transition: all 1s;
    position: absolute;
    bottom: 15px;
    font-size: 10px;
    font-family: Courier, sans-serif;
    width: 10%;
    text-align: left;
    z-index: 100;
    color: #B3B4AF;
}
}
  </style>
  	
 <ul><li   class="tilde" title="visit http://tilde.nyc" ><a href="http://tilde.nyc" class="footer-tilde"><span>&nbsp;~&nbsp;</span> &copy;<a href="http://stage.legal">2016</a></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:info@pollen.agency" target="_top">info@pollen.agency</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://tilde.press">tilde.press</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://tilde.party">tilde.party</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://tilde.host">tilde.host</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://tilde.agency">tilde.agency</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://stage.legal">terms <span style="font-size: .7em;">&amp;ãmp;</span> conditions</a>&nbsp;&nbsp;<a href="http://pollenuph7xkqfa8.devcloud.acquia-sites.com/user/login" style="color: #748259; font-size:8.5px" target="_blank">lõg in</a></li></ul> </footer>