<style>
		
	p {    color: white;
    position: fixed;
    top: 0;
    left: 30%;
    top: 7%;
    font-size: 3.3em;
    font-family: sans-serif;
    width: 60%;}


    	.blink {border-left: 1px;
  animation: blinker3 2.7s linear infinite;
}
span.sans {font-family: serif;}
@keyframes blinker3 {  
  50% { opacity: 0.0; color: red; }
}

ul.visited-list {
display: inline-block;
margin-left: 130px;
margin-bottom: 40px;
line-height: 1.1em;

}


</style>

<!--  <link rel="stylesheet" href="http://pollen.agency/app/app.css" /> -->

<p> ::VISITED <span class="blink">/</span> AGENCY </p>

<br>
<h4>Domain Matrix:  <a href="mailto:info@pollen.agency" class="mailto-pollen">info@pollen.agency</a></h4>
<br>


<ul class="visited-list">  
<li><a href="http://tilde.nyc">tilde.nyc</a></li>
<li><a href="http://tilde.agency">tilde.agency</a></li>
<li><a href="http://tilde.party">tilde.party</a></li>
<li><a href="http://tilde.press">tilde.press</a></li>
<li><a href="http://tilde.host">tilde.host</a></li>
</ul>

<ul class="visited-list">
<li><a href="http://pollen.agency">pollen.agency</a></li>
<li><a href="http://pollen.help">pollen.help</a></li>
<li><a href="http://pollen.blue">pollen.blue</a></li>
<li><a href="http://pollen.pink">pollen.pink</a></li>
<li><a href="http://pollen.host">pollen.host</a></li> 
<li><a href="http://pollen.computer">pollen.computer</a></li>
<li><a href="http://pollen.solutions">pollen.solutions</a></li>
<li><a href="http://pollen.tips">pollen.tips</a></li>
<li><a href="http://pollen.cafe">pollen.cafe</a></li>
<li> <a href="http://pollen.healthcare">pollen.healthcare</a></li>
<li> <a href="http://pollen.zone">pollen.zone</a></li> 
<li><a href="http://pollen.ltda">pollen.ltda</a></li>
</ul>

<ul class="visited-list">
<li><a href="http://rhamses.xyz">rhamses.xyz</a></li>
<li><a href="http://respolyn.xyz">respolyn.xyz</a></li>
<li><a href="http://respolyn.com">respolyn.com</a></li>
<li><a href="http://polytec.xyz">polytec.xyz</a></li>
<li><a href="http://svg.codes">svg.codes</a></li>
</ul>

<ul class="visited-list">
<li><a href="http://stage.email">stage.email</a></li>
<li><a href="http://stage.exchange">stage.exchange</a></li>
<li><a href="http://stage.legal">stage.legal</a></li>
<li><a href="http://stage.lgbt">stage.lgbt</a></li>
<li><a href="http://stage.cafe">stage.cafe</a></li>
<li><a href="http://stage.healthcare">stage.healthcare</a></li>
<li><a href="http://stage.zone">stage.zone</a></li>
<li><a href="http://stage.ltda">stage.ltda</a></li>
</ul>

<ul class="visited-list">
<li><a href="http://vermont.computer">vermont.computer</a></li>
<li><a href="http://vermont.diamonds">vermont.diamonds</a></li>
<li><a href="http://vermont.estate">vermont.estate</a></li>
<li><a href="http://vtexit.com">vtexit.com</a></li>
<li><a href="http://vtexit.nyc">vtexit.xyz</a></li>
</ul>
</div>